body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(15, 14, 17);
    font-family: "Signika", sans-serif;
}

svg {
    width: 50vw;
    height: 55vh;
}

.animation {
    background: rgba(15, 9, 58, 0.2);
    border-radius: 15px;
    box-shadow: 2px 2px 40px rgb(60, 40, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}